numpy
tqdm
pyyaml
faiss-cpu
sentence-transformers
protobuf
requests
pillow
opencv-python
pytesseract
openvino>=2024.0
openvino-tokenizers
openvino-genai
optimum-intel
nncf
onnx
onnxruntime
openai-whisper
moviepy
